@media (max-width: 703px) {
  .hold_form{
    padding-right: 8px;
  }
}
@media (max-width: 514px) {
  .wrapper_tickets .h1, .wrapper_tickets h1{
    font-size:44px 
  }
}
@media (max-width: 525px) {
  .row .inputs .input_3 {
    width: 50.9%;
  }
}
@media (max-width: 479px) {
  .row{
    margin-bottom: 10px;
  }
  .row .label,
  .row .inputs{
    width: 100%;
  }
  .row .inputs .input_4 {
    width: 26%;
  }
}
@media (max-width: 410px) {
  .wrapper_tickets .h1, .wrapper_tickets h1{
    font-size:34px;
    line-height: 34px;
  }
}
@media (max-width: 410px) {
  .cart_table .td_1{
    padding-left:0;
  }
  .cart_table .td_6{
    padding-right: 0;
  }
  .cart_table td{
    font-size: 9px;
    white-space: normal;    
  }
  .cart_table .td_1{
    word-break: break-all;
  }
  .cart_table .td_2, .cart_table .td_3, .cart_table .td_4, .cart_table .td_5, .cart_table .td_6 {
    white-space: normal;
  }
}