@font-face {
	font-family: 'fontscorecomttwcenmt';
	src: url('../fonts/fontscorecomttwcenmt.eot');
	src: local('../fonts/fontscorecomttwcenmt'), url('../fonts/fontscorecomttwcenmt.woff') format('woff'), url('../fonts/fontscorecomttwcenmt.ttf') format('truetype');
}
@font-face {
  font-family: 'twcenmt_bold_compressed';
  src: url("../fonts/tw-cen-mt-condensed-extra-bold45842.eot");
  src: url("../fonts/tw-cen-mt-condensed-extra-bold45842.eot#iefix") format("embedded-opentype"),
  url("../fonts/tw-cen-mt-condensed-extra-bold45842.woff") format("woff"),
  url("../fonts/tw-cen-mt-condensed-extra-bold45842.ttf") format("truetype"),
  url("../fonts/tw-cen-mt-condensed-extra-bold45842.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'twcenmt_bold';
  src: url("../fonts/tw-cen-mt-bold.eot");
  src: url("../fonts/tw-cen-mt-bold.eot#iefix") format("embedded-opentype"),
  url("../fonts/tw-cen-mt-bold.woff") format("woff"),
  url("../fonts/tw-cen-mt-bold.ttf") format("truetype"),
  url("../fonts/w-cen-mt-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmericanTypewriterStdMed';
  src: url("../fonts/ufontscomamerican-typewriter.eot");
  src: url("../fonts/ufontscomamerican-typewriter.eot#iefix") format("embedded-opentype"),
  url("../fonts/ufontscomamerican-typewriter.woff") format("woff"),
  url("../fonts/ufontscomamerican-typewriter.ttf") format("truetype"),
  url("../fonts/ufontscomamericantypewriter-light-1-opentype.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmericanTypewriter_bold';
  src: url("../fonts/ufontscomamerican-typewriter-bold.eot");
  src: url("../fonts/ufontscomamerican-typewriter-bold.eot#iefix") format("embedded-opentype"),
  url("../fonts/ufontscomamerican-typewriter-bold.woff") format("woff"),
  url("../fonts/ufontscomamerican-typewriter-bold.ttf") format("truetype"),
  url("../fonts/ufontscomamerican-typewriter-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmericanTypewriter_light';
  src: url("../fonts/ufontscomamericantypewriter-light-1-opentype.eot");
  src: url("../fonts/ufontscomamericantypewriter-light-1-opentype.eot#iefix") format("embedded-opentype"),
  url("../fonts/ufontscomamericantypewriter-light-1-opentype.woff") format("woff"),
  url("../fonts/ufontscomamericantypewriter-light-1-opentype.ttf") format("truetype"),
  url("../fonts/ufontscomamericantypewriter-light-1-opentype.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, textarea, select {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}
body{
  font-family: 'AmericanTypewriterStdMed';
  color:#000;
  font-size: 11px;
  line-height: 14px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
table {border-collapse:collapse; border-spacing:0;}
fieldset, img {border:0;vertical-align: top;}
/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;  font-weight:normal;}
ol, ul {list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}
q:before, q:after {content:'';}
abbr, acronym {border:0; font-variant:normal;}
/* to preserve line-height and selector appearance */
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input, textarea, select {font-family:inherit; font-size:inherit; font-weight:inherit;}
textarea {resize: none;}
/*to enable resizing for IE*/
input, textarea, select {*font-size:100%;}
/*because legend doesn't inherit in IE */
legend {color:#000;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
a {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  color:#00b7c1;
}
a:hover {cursor: pointer;}
p {word-wrap: break-word;}
img,
button {border: none;}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  }
p {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after : 0;
-webkit-margin-start : 0;
-webkit-margin-end   : 0;
  }
q:before,q:after{content:'';}

button:hover, input[type="submit"]:hover, input[type="button"]:hover{cursor:pointer;}
input[type="checkbox"], input[type="radio"] {float: left;}
input:focus,button:focus, textarea:focus, a:focus, ul:focus{outline:none!important;}
button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="file"] > input[type="button"] {
    border: none;
  }
input, textarea, select {outline: none; border: none;color: #7a7777;}
/* Webkit Fix */
@media screen and (-webkit-min-device-pixel-ratio:0){hr {height: 1px;}}
div{vertical-align: top;}

.wrapper_tickets{
  width:98%;
  margin:0 auto;
  max-width: 675px;
  padding:1%;
}
.wrapper_tickets .h1,
.wrapper_tickets h1{
  text-transform: uppercase;
  font-family: 'twcenmt_bold';
  font-size: 63px;
  line-height: 86px;
  letter-spacing: -3px;
  text-align:center;
  margin-bottom: 6px;
}
.back{
  font-size: 10px;
  line-height: 17px;
  font-family: 'AmericanTypewriter_bold';
  margin-left: 8px;
}
.back:hover{
  text-decoration: underline;
  ,margin-bottom: 25px;
}
.wrapper_table_cart{
  margin-bottom: 25px;
}
.cart_table{
  width:100%;
}
.cart_table td{
  padding:15px 10px 15px 0;
}
.cart_table td,
.cart_table td a{
  font-size: 11px;
  color:#ff0000;
}
.cart_table tbody td{
  padding: 9px 12px 7px 0;
}
.cart_table tbody .last td{
  padding-bottom: 16px;
}
.cart_table thead td,
.cart_table tfoot tr td{
  color:#000;
}
.cart_table tfoot tr td{
  padding-top: 18px;
}
.cart_table tfoot tr td{
  border-top:1px solid #000;
}
.cart_table thead tr td{
  border-bottom:1px solid #000;
}
.cart_table .td_1,
.cart_table .th_1{
  padding-left: 8px;
}
.cart_table .td_2{
  width:15%;  
}
.cart_table .td_3{
  width:13%;  
}
.cart_table .td_4{
  width:10%; 
  text-align: center; 
}
.cart_table .td_5{
  width:8%;  
}
.cart_table .td_6{
  width:3.9%; 
  padding-right: 8px; 
}
.cart_table .td_2,
.cart_table .td_3,
.cart_table .td_4,
.cart_table .td_5,
.cart_table .td_6{
  white-space: nowrap;
}
.wrapper_links a{
  display: inline-block;
  margin-left: 4px;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color:#000;
  background-color:#ede6d5; 
  padding:4px 8px 5px;
  font-size: 10px;
  line-height: 10px;
  vertical-align: top;
}
.wrapper_links a:hover{
  color:#ff0000;
  text-decoration: none;
}
.wrapper_links a:first-child{
  margin-left: 0;
}
.delete{
  display: block;
  width:13px;
  height:14px;
  background: url(../images/cross.png) no-repeat 50% 50% #ede6d5; 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
  top: 3px;
}
.delete:hover{
  background-color: #cecece;
}
.block_tickets{
  background-color: #ede6d5; 
  padding: 8px 7px 18px;
  margin-bottom: 8px;
}
.text_1{
  margin-left: 8px;
  margin-bottom: 9px;
  font-size: 10px;
}
.text_2{
  margin-bottom: 16px;
  display: block;
  color:#ff0000;
  font-size: 14px;
  line-height: 19px;
  max-width: 400px;
}
.ticket_table{
  width:100%;
  max-width: 518px;
}
.ticket_table td{
  padding:3px 14px 2px 0;
}
.ticket_table .td_2{
  width:20%;
  text-align: right; 
  white-space: nowrap; 
}
.ticket_table .td_3,
.ticket_table .td_4{
  width:3%;
}
.ticket_table .td_4{
  padding-right: 0;
}
.ticket_table .td_3 span,
.ticket_table .td_4 span{
  display: block;
  width:12px;
  height:12px;
  line-height: 13px;
  text-align: center;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 8px auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 22px;
  position: relative;
  top:1px;
}
.ticket_table .minus{
  background-image: url(../images/minus.png);
}
.ticket_table .plus{
  background-image: url(../images/plus.png);
  background-size: 9px auto;
}
.ticket_table .td_3 span:hover,
.ticket_table .td_4 span:hover,
.ticket_table .td_3 a:hover,
.ticket_table .td_4 a:hover{
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  filter:alpha(opacity=60);-ms-filter:"alpha(opacity=60)";
}
form a:hover{
  text-decoration: underline;
}
.text_3{
  margin-bottom: 15px;
  margin-left: 4px;
}
.row{
  width:100%;
  margin-bottom: 6px;
  position: relative;
}
.row:after{
  display: table;
  clear:both;
  content:"";
}
.row .label{
  width:28%;
  display: inline-block;
  float:left;
  padding-left: 4px;
}
.row .label label,
.row .inputs input{
  font-size: 10px;
  line-height: 17px;
  font-family: 'AmericanTypewriterStdMed';
  color:#000;
}
.row .label label{
  line-height: 17px;
}
.row .inputs{
  float:right;
  width:70%;
}
.row .inputs input{
  padding:2px 1%;
  background-color: #ede6d5;
  display: inline-block;
  margin-left: 2px;
  float:left;
  height:16px;
}
.row .inputs input:first-child{
  margin-left: 0;
}
.row .inputs p{
  display: inline-block;
  margin-left: 5px;
  float:left;
  line-height: 17px;
}
.row .inputs .input_1{
  width:29.6%;
}
.row .inputs .input_2{
  width:9%;
}
.row .inputs .input_3{
  width:51.9%;
}
.row .inputs .input_4{
  width:30%;
}
.row .inputs .input_5{
  width:54%;
}
.row .inputs .input_6{
  width:98%;
}
.row .inputs .input_7{
  width:65%; 
}
.row .inputs input.input_right{
  float:right;
}
/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox_minimal,
.iradio_minimal {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 13px;
    background: url(../images/minimal.png) no-repeat;
    border: none;
    cursor: pointer;
    float:left;
    position: relative;
    margin-right: 5px;
    top:-1px;
}
.icheckbox_minimal {
    background-position: 0 0;
}
    .icheckbox_minimal.hover {
    }
    .icheckbox_minimal.checked {
        background-position: -16px 0;
    }
    .icheckbox_minimal.disabled {
        cursor: default;
    }
    .icheckbox_minimal.checked.disabled {
    }

.iradio_minimal {
    background-position: 0 0;
}
    .iradio_minimal.checked {
        background-position: -31px 0;
    }
.block_checkbox label{
  display:inline-block;
  cursor: pointer;
}
.star{
  float:left;
  display: inline-block;
  color:#71bdbe;
  position: relative;
  top:4px;
  font-weight: 900;
}
.star.last_star{
  position: absolute;
  right:-10px;
}
.inputs p .star{
  float:none;
  top:2px;
}
.text_4{
  margin-top: 5px;
}
.block_checkbox{
  margin-top: 12px;
  font-size: 10px;
}
.block_checkbox .row{
  margin-bottom: 4px;
}
.text_4{
  margin-bottom: 4px;
}
.text_5{
  margin-bottom: 2px;
  margin-left: 5px;
}
.block_checkbox.block_1{
  margin-bottom: 25px;
}
.hold_form .wrapper_links{
  padding-left: 15px;
}
.wrapper_links .deal{
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width:24px;
  height:19px;
  margin-left: 5px;
  padding: 0;
  background-size: auto 100%;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.wrapper_links .deal img{
  height:100%;
  width:auto;
}
.wrapper_links a.deal:hover{
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  filter:alpha(opacity=80);-ms-filter:"alpha(opacity=80)";
}